<div class="sidenav-header">
    <!-- <img src="public/user.png" alt="User Image" /> -->
  
    <div class="header-text">
    <h2>Welcome</h2>
    <p>Dainess Phanuel</p>
    </div>

    <div class="nav-items">
 
        <span  matListItemTitle>
        <div class="nav-item" routerLink="dashboard">
            <mat-icon>dashboard</mat-icon> 
           Dashboard
        </div>
        </span>
    
        <span  matListItemTitle>
        <div class="nav-item" routerLink="manage">
            <mat-icon>manage_accounts</mat-icon> 
            Manage
        </div>
    </span>

   
    
        <span matListItemTitle>
        <div class="nav-item" routerLink="#">
            <mat-icon>settings</mat-icon> 
            Settings
        </div> 
    </span> 

    <!-- <span matListItemTitle>
        <div class="nav-item" routerLink="#">
            <i class="fas fa-cog"></i> 
            Profile
        </div> 
    </span>  -->

    <span matListItemTitle>
        <div class="nav-item" routerLink="#">
            <mat-icon>verified_user</mat-icon> 
            Verification
        </div> 
    </span> 
    
    
  
    
    </div>
</div>
